@using CNCDataManager.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}
<div>
    <div id="login-block">
        <div id="login-icon">
            <p>欢迎登陆</p>
            <p>数控机床数据管理系统</p>
        </div>
        <form action="/Account/Login" role="form" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label" for="Email">用户名</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "用户名", style = "margin-top:20px" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label" for="Password">密码</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "密码" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                <div class="checkbox form-group">
                    @Html.CheckBoxFor(m => m.RememberMe, new { style = "margin-left:0"})
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <input type="hidden" name="returnUrl" value={@ViewBag.ReturnUrl} />
                <input type="submit" value="登录" class="btn btn-success form-control" />
            </div>
            <p>
                没有账户？ @Html.ActionLink("请联系我们","Contact","Home")。
            </p>
            @* 在为密码重置功能启用帐户确认后启用此项
                <p>
                    @Html.ActionLink("忘记了密码?", "ForgotPassword")
                </p>*@
        </form>
        <hr />
        <div id="login-desc">
            <p>所有账户由华中科技大学统一分配。用户可用<b>管理员账户</b>登录，用于修改数据和管理权限；或者使用<b>普通账户</b>查看数据。</p>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section css{
    <link rel="stylesheet" type="text/css" href="~/App/CSS/Account/Login.css" />
}