<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title - 数控机床数据库管理系统</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/App/CSS/Shared/_LayoutPage_Data.css" type="text/css" />
    @RenderSection("css", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top transparent">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    @*data-toggle表示collapse时生效 data-target表示折叠的对象*@
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--以下链接可以用html辅助函数来防止被攻击-->
                <a href="/" class="navbar-brand home-index-nav-link" area="">数控机床数据管理</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index" class="home-index-nav-link">主页</a></li>
                    <li><a href="/CNCData/Index" class="home-index-nav-link">查看数据</a></li>
                    <li><a href="/Home/About" class="home-index-nav-link">关于</a></li>
                    <li><a href="/Home/Contact" class="home-index-nav-link">联系我们</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="layout-header">
        <div class="container">
            <h1>数据</h1>
            <p>详尽，包括伺服电机、伺服驱动、数控系统和机械部件等各项数据。</p>
        </div>

    </div>
    <!--加载动画-->
    <div class="overlay-container" style="display:none">
        <span class="glyphicon glyphicon-remove"></span>
        <h2 class="text-center">Loading...</h2>
        <div title="Loading..." id="loading-animation"></div>
    </div>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
            <div class="col-sm-2 cncdata-side-bar" id="cncdata-side-bar">
                <ul class="side-nav-head-1">
                    <li>
                        <span id="nav-icon-motor" class="glyphicon glyphicon-plus nav-icon"></span>
                        <a href="/CNCData/List?listname=ServoMotorOfPMSACFS">伺服电机</a>
                        <ul id="nav-motor-ul" class="side-nav-2-hide">
                            <li><a href="/CNCData/List?listname=ServoMotorOfPMSACFS">永磁同步交流电机</a></li>
                            <li><a href="/CNCData/List?listname=ServoMotorOfSpindle">主轴伺服电机</a></li>
                            <li><a href="/CNCData/List?listname=StepperMotor">步进电机</a></li>
                            <li><a href="/CNCData/List?listname=ElectricSpindle">电主轴</a></li>
                        </ul>
                    </li>
                    <li>
                        <span id="nav-icon-driver" class="glyphicon glyphicon-plus nav-icon"></span>
                        <a href="/CNCData/List?listname=DriverOfServoMotorOfPMSACFS">伺服驱动器</a>
                        <ul id="nav-driver-ul" class="side-nav-2-hide">
                            <li><a href="/CNCData/List?listname=DriverOfServoMotorOfPMSACFS">同步交流电机驱动器</a></li>
                            <li><a>异步交流电机驱动器</a></li>
                            <li><a>步进电机驱动器</a></li>
                            <li><a>电主轴驱动器</a></li>
                        </ul>
                    </li>
                    <li>
                        <span id="nav-icon-system" class="glyphicon glyphicon-plus nav-icon"></span>
                        <a href="/CNCData/List?listname=NCSystem">数控系统</a>
                    </li>
                    <li>
                        <span id="nav-icon-mech" class="glyphicon glyphicon-plus nav-icon"></span>
                        <a href="/CNCData/List?listname=AligningBallBearings">机械传动部件</a>
                        <ul id="nav-mech-ul" class="side-nav-2-hide">
                            <li>
                                <span id="nav-icon-mech-coupling" class="glyphicon glyphicon-plus nav-icon"></span>
                                <a href="/CNCData/List?listname=BrakeWheelElasticSleevePinCoupling">联轴器</a>
                                <ul id="nav-mech-coupling-ul" class="side-nav-3-hide">
                                    <li><a href="/CNCData/List?listname=FlangeCoupling">凹缘式联轴器</a></li>
                                    <li><a href="/CNCData/List?listname=OldhamCoupling">十字滑块联轴器</a></li>
                                    <li><a href="/CNCData/List?listname=GearCoupling">齿式联轴器</a></li>
                                    <li><a href="/CNCData/List?listname=BrakeWheelElasticSleevePinCoupling">带制动套柱销联轴器</a></li>
                                    <li><a href="/CNCData/List?listname=FlexiblePinCoupling">弹性柱销联轴器</a></li>
                                    <li><a href="/CNCData/List?listname=ElasticSleevePinCoupling">弹性套柱销联轴器</a></li>
                                    <li><a href="/CNCData/List?listname=PlumShapedFlexibleCoupling">梅花弹性联轴器</a></li>
                                    <li><a href="/CNCData/List?listname=HubShapedCouplings">轮毂型联轴器</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="nav-icon-mech-bearing" class="glyphicon glyphicon-plus nav-icon"></span>
                                <a href="/CNCData/List?listname=AligningBallBearings">滚动轴承</a>
                                <ul id="nav-mech-bearing-ul" class="side-nav-3-hide">
                                    <li><a href="/CNCData/List?listname=AngularContactBallBearings">角接触球轴承</a></li>
                                    <li><a href="/CNCData/List?listname=DeepGrooveBallBearings">深沟球轴承</a></li>
                                    <li><a href="/CNCData/List?listname=TaperedRollerBearings">圆锥滚子轴承</a></li>
                                    <li><a href="/CNCData/List?listname=CylindricalRollerBearings">圆柱滚子轴承</a></li>
                                    <li><a href="/CNCData/List?listname=AligningRollerBearing">调心滚子轴承</a></li>
                                    <li><a href="/CNCData/List?listname=AligningBallBearings">调心球轴承</a></li>
                                    <li><a href="/CNCData/List?listname=BallLeadScrewSupportBearings">滚珠丝杠支撑轴承</a></li>
                                    <li><a href="/CNCData/List?listname=CrossTaperedRollerBearings">交叉圆锥滚子轴承</a></li>
                                    <li><a href="/CNCData/List?listname=DoubleRowCylindricalRollerBearings">双列圆柱滚子轴承</a></li>
                                    <li><a href="/CNCData/List?listname=DoubleThrustAngularContactBallBearings">双向推力角接触球轴承</a></li>
                                    <li><a href="/CNCData/List?listname=NeedleRollerAndThrustRollerBearings">滚针轴承和推力滚子组合轴承</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="nav-icon-mech-guide" class="glyphicon glyphicon-plus nav-icon"></span>
                                <a href="/CNCData/List?listname=LinearRollingGuide">导轨</a>
                                <ul id="nav-mech-guide-ul" class="side-nav-3-hide">
                                    <li><a>普通滑动导轨</a></li>
                                    <li><a href="/CNCData/List?listname=LinearRollingGuide">直线滚动导轨</a></li>
                                    <li><a>贴塑导轨</a></li>
                                    <li><a>注塑导轨</a></li>
                                    <li><a>静压导轨</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="nav-icon-mech-screw" class="glyphicon glyphicon-plus nav-icon"></span>
                                <a href="/CNCData/List?listname=SolidBallScrewNutPairs">滚珠丝杠</a>
                                <ul id="nav-mech-screw-ul" class="side-nav-3-hide">
                                    <li><a href="/CNCData/List?listname=SolidBallScrewNutPairs">内循环式滚珠丝杠</a></li>
                                    <li><a>外循环式滚珠丝杠</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="nav-icon-mech-table" class="glyphicon glyphicon-plus nav-icon"></span>
                                <a href="/CNCData/List?listname=RotaryTable">回转工作台</a>
                                <ul id="nav-mech-table-ul" class="side-nav-3-hide">
                                    <li><a>数控回转工作台</a></li>
                                    <li><a>分度回转工作台</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="nav-icon-mech-gear" class="glyphicon glyphicon-plus nav-icon"></span>
                                <a href="/CNCData/List?listname=SpurGear">齿轮</a>
                                <ul id="nav-mech-gear-ul" class="side-nav-3-hide">
                                    <li><a href="/CNCData/List?listname=SpurGear">直齿圆柱齿轮</a></li>
                                    <li><a href="/CNCData/List?listname=HelicalCylindricalGear">斜齿圆柱齿轮</a></li>
                                    <li><a href="/CNCData/List?listname=StraightBevelGear">直齿锥齿轮</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="nav-icon-mech-worm" class="glyphicon glyphicon-plus nav-icon"></span>
                                <a href="/CNCData/List?listname=ArcCylindricalWormGear">蜗轮蜗杆</a>
                                <ul id="nav-mech-worm-ul" class="side-nav-3-hide">
                                    <li><a href="/CNCData/List?listname=ArcCylindricalWormGear">圆弧圆柱蜗轮蜗杆</a></li>
                                    <li><a href="/CNCData/List?listname=CommonCylindricalWormGear">普通圆柱蜗轮蜗杆</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="nav-icon-mech-belt" class="glyphicon glyphicon-plus nav-icon"></span>
                                <a>传动带</a>
                                <ul id="nav-mech-belt-ul" class="side-nav-3-hide">
                                    <li ><a>V型带</a></li>
                                    <li><a>同步带</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-4">
                    <p>To do.</p>
                </div>
                <div class="col-md-4">
                    <p>地址：湖北省武汉市洪山区珞瑜路1037号</p>
                    <p>邮编：430074</p>
                </div>
                <div class="col-md-4">
                    <p>电话：027-87541114</p>
                    <p>传真：027-87545438</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>&copy; 2015-@DateTime.Now.Year 版权所有-华中科技大学机械科学与工程学院数控中心 CNC Data Hub All Rights Reserved.</p>
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/App/Scripts/Shared/_LayoutPage_Data.js"></script>
</body>
</html>

